body{
	background-color: azure;
	font-family: Arial;
}

.foto{
	width: 100px;
}

header{
	display: flex;
	padding: 10px;
	background-color: powderblue;
}

.nama{
	display: inline;
	margin-left: 10 px;
}

.container{
	display: grid;
	margin: auto;
	grid-template-areas: "education experience skills";
	background-color: powderblue;
	grid-gap: 10px;
	padding: 10px;
	max-width: 1000px;
}
.education{
	grid-area: education;
	background-color: lightcyan;
}

.experience{
	grid-area: experience;
	background-color: lightcyan;
}
.skills{
	grid-area: skills ;
	background-color: lightcyan;
}
h4{
	text-align: center;
}

.icon{
	width: 30px;
}
footer{
	text-align: center;
	background-color: powderblue;
	position: absolute;
	bottom: 0;
	width: 99%;
}